<div class="availability availability--{VAR:event_seats_availability_class}">
	<!--
	 jobr@2024-02-18: Temporarily disabled on client request
	 -------------------------------------------------------
	-->

	<!-- <svg class="availability__image" viewBox="0 0 30 30" width="30" height="30" xmlns="http://www.w3.org/2000/svg"> -->
	<!-- 	<rect x="0" y="0" width="30" height="30" /> -->
	<!-- </svg> -->

	<!--
	<progress class="availability__bar" max="100" value="{VAR:event_seats_perc}" title="{VAR:event_seats_available} Plätze frei"></progress>
	->

	<!-- <div class="availability__text">{VAR:event_seats_available} Plätze frei</div> -->
</div>
