ul.breadcrumbs {

	font-size: 0.8125em;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	justifiy-content: flex-start;

	@include for-size(tablet-landscape-up) {
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}


	> li {


		background-color: $grey7; //$light-grey;
		margin: 0 0.75em 0.5em 0;
		padding: 4px;

		@include for-size(tablet-landscape-up) {
			flex: 0 0 auto;
			position: relative;
			height: 48px;
			line-height: 48px;
			padding: 0 1rem 0 1.75rem;

			&:first-child {
				padding-left: 2rem;
			}

			&:last-child {
				flex: 1;
				margin-right: 0;
			}

			a, span {
				line-height: 52px;;
			}
		}

		a, span {
			display: inline-block;
			line-height: 32px;
		}

		&:first-child {
			font-weight: bold;
		}

		@include for-size(tablet-landscape-up) {

			&:not(:first-child)::before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border: 24px solid rgba(#fff, 0);
				border-left: 10px solid rgba(#fff, 1);
				left: 0px;
				top: 0;
			}

			&:not(:last-child)::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border: 24px solid rgba($grey7, 0);
				border-left: 10px solid rgba($grey7, 1);
				right: -34px;
				top: 0;
			}
		}
	}
}
