/**
 * src/css/components/_calendar.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 */

.calendar {
	width: 100%;
	border-collapse: collapse;


	th, td {
		vertical-align: middle;
		text-align: center;
		margin: 1px;
		width: calc(100% / 7);
		padding: 1px;
	}

	td > a,
	td > span {
		padding: 10px 6px 4px 6px;
		line-height: 1;
		display: block;
		text-align: center;
	}

	a {
		color: #ffffff;
		background-color: $primary-color;
		transition: 100ms;

		&:hover {
			text-decoration: none;
			background-color: $red4;
			color: $red1;
		}
	}
}

// td.day-has-link > a,
// td:not(.day-has-link) {
//  	padding: 9px 6px 4px 6px;
// }
//
//
//
.calendar-widget {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
	}

	&__link {
		width: 28px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		&:hover {
			text-decoration: none;
		};
	}

	&__month {
		flex: 1 0 auto;
		text-align: center;
	}
}
