/**
 * src/css/components/_donations.scss
 *
 * @author Johannes Braun <johannes.braun@swu.de>
 * @package haus-st-jakobus
 * @version 2024-05-16
 */
.donations {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 3rem;
	margin: 3 * $vertical-unit 0;

	li {
		border: 1px solid $primary-color;
		border-radius: 2px;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

		h3 {
			margin-bottom: $vertical-unit;
		}

		div {
			padding: 0 1rem;
		}

	}
}

.main-content:has(.donations) + .sidebar {
	display: none;
}
