.courses-overview {
	margin: $vertical-unit 0 3 * $vertical-unit 0;
	background-color: transparent !important;

	caption {
		text-align: left;
	}
}



.event__image {
	max-width: 100px;
}


ul.events {
	list-style-type: none;
}

.teaser--event {
	.teaser__description {
		div {
			margin-bottom: 0.5 * $vertical-unit;
		}
	}
}

.event-images {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	list-style: none;

	> li {
		flex: 1;
	}

	figure {
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	img.event-image {
		display: block;
		// max-width: max-content;
		max-width: 100%;
		width: max-content;
		height: 200px;
		flex: 0 0;
	}
}
