.courses-overview {
	margin: $vertical-unit 0 3 * $vertical-unit 0;
	background-color: transparent!important;

	caption {
		text-align: left;
	}
}



.event__image {
	max-width: 100px;
	
}


ul.events {
	list-style-type: none;
}

.teaser--event {
	.teaser__description {
		div {
			margin-bottom: 0.5 * $vertical-unit;
		}
	}
}

