/**
 * src/css/components/_footer.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */

// Footer
//
// The website's main footer
//
// Markup:
// <footer class="main-footer">
// 	<div class="main-footer__inner inner-bound">
// 		<div class="footer-column">
// 			<address>
// 				<p>
// 					{USERVAR:cdOrgName}<br>
// 					{USERVAR:cdStreetAddress}<br>
// 					{USERVAR:cdCountry}&ndash;{USERVAR:cdZip} {USERVAR:cdCity}
// 				</p>
// 				<p>
// 					07305&thinsp;&ndash;&thinsp;919&thinsp;575<br>
// 					<a href="mailto:info@haus-st-jakobus.de">info@haus-st-jakobus.de</a>
// 				</p>
// 			</address>
// 		</div>
// 		<div class="footer-column">
// 			<nav>
// 				<ul>
// 					<li><a href="{PAGEURL:99}">Der Weg</a></li>
// 					<li><a href="{PAGEURL:7}">Das Haus</a></li>
// 					<li><a href="{PAGEURL:99}">Förderverein</a></li>
// 					<li><a href="{PAGEURL:24}">Pilgerausweise</a></li>
// 					<li><a href="{PAGEURL:39}">Programm</a></li>
// 				</ul>
// 			</nav>
// 		</div>
// 		<div class="footer-column">
// 			<blockquote>
// 				Gastfreundschaft, Begegnung, Einfachheit, Heimat, Natur, Offenheit, Spiritualität, Achtsamkeit, Ort der Mitte
// 			</blockquote>
// 			<nav class="legal-nav">
// 				{LOOP NAVIGATION(40)}
// 					<a href="{NAVIGATION:link}">{NAVIGATION:title}</a>
// 				{ENDLOOP NAVIGATION}
// 			</nav>
// 		</div>
// 	</div>
// </footer>
// 
// Styleguide Components.footer

$footer-text-color: lighten($dark-grey, 66%);
.main-footer {
	padding: calc(#{$vertical-unit} + 32px) 0 #{$vertical-unit} 0;
	background-color: $grey2;
	color: $footer-text-color;
	position: relative;
	@include type-setting(0);



	a {
		color: $footer-text-color;
		// text-decoration: underline !important;
		// &:hover {
		// 	text-decoration: none !important;
		// }
	}

	ul {
		list-style-type: none;
		// list-style-position: inside;
	}

	li {
		margin: 0;
		&::before {
			content: '> ';
			color: $grey3;
			vertical-align: middle;
		}
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;

		@include for-size(tablet-portrait-up) {
			flex-wrap: nowrap;
		}

		@include for-size(desktop-up) {
			padding: 0 2 * $gutter;
		}
	}

	.footer-column {
		width: 100%;
		display: flex;
		flex-direction: column;
		@include for-size(tablet-portrait-up) {
			width: calc(100% / 2 - #{$gutter});
		}

		// &:nth-child(1) {
		// 	order: 1;
		// }
		// &:nth-child(2) {
		// 	order: 2;
		// }
		// &:nth-child(3) {
		// 	order: 3;
		// }
	}

	blockquote {
		font-style: italic;
	}

	.legal-nav {
		margin-top: $vertical-unit;
		@include for-size(tablet-portrait-up) {
			margin-top: auto;
		}

		@include type-setting(0);

		a {
			display: inline-block;
		}

		a:not(last-child) {
			margin-right: 0.5em;
		}
	}
}
