/**
 * src/css/components/_form.scss
 *
 * @author Johannes Braun
 * @package haus-st-jakobus
 */

$checkmark: true;

form {

	#{$all-text-inputs} {
		border: none; //1px solid $grey6;
		box-shadow: none !important;
	}

	select {
		border: none;
		max-width: 300px;
	}

	.form-field {
		display: flex;
		flex-direction: column;
		height: 100%;

		> label {
			// flex: 1 0 auto;
			// margin-top: auto;
			white-space: nowrap;
		}

		> label + * {
			// flex: 0 0 auto;
			margin-bottom: $vertical-unit;
		}
	}

	// Checkboxes
	.form-field--flag {
		vertical-align: middle;
		display: flex;
		align-items: flex-start;
		margin: $vertical-unit 0;
		padding-left: 0 * $gutter;
		padding-right: 0 * $gutter;

		label {
			display: inline-block;
			margin: 0 0.5em 0 0;
			white-space: normal;
		}

		input[type=checkbox] {
			// display: none;
			width: 0;
			height: 0;
			overflow: hidden;
			position: absolute;
			clip: rect(1px, 1px, 1px, 1px);
			padding: 0;
			border: 0;


			&:focus + label::before {
				outline: 1px solid #8a8a8a;
			}
		}

		label {
			cursor: pointer;
			position: relative;
			padding-left: 28px;

			&::before {
				content: ' ';
				position: absolute;
				left: 0;
				top: 0;
				background-color: #fff;

				@if $checkmark {
					font-size: 18px;
					width: 20px;
					height: 20px;
					line-height: 20px;
					text-align: center;
					vertical-align: middle;
					color: $primary-color;
				}
				@else {
					width: 16px;
					height: 16px;
					border: 3px solid #fff;
				}
			}
		}

		@if $checkmark {
			input[type=checkbox]:checked + label::before {
				content: '✘';
			}
		}
		@else {
			input[type=checkbox]:checked + label::before {
				background-color: $primary-color;
			}
		}
	}

	.stack--flags {
		margin-top: $vertical-unit;
		.form-field--flag {
			margin: 0;
		}

		> * + * {
			margin-top: $vertical-unit;
			margin-bottom: 0;
		}
	}
	
	.radio-group {
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		padding: 1rem;

		> * + * {
			margin-top: calc(0.5 * #{$vertical-unit});
		}
	}

	.radio-wrapper {
		display: flex;
		align-items: baseline;
		gap: 0.75rem;
	}

	.form-field.error {
		label {
			color: $red1;
		}

		#{$all-text-inputs}, select {
			background-color: $red3;
			outline: 1px solid $red1;
		}
	}

	.form-field--textarea {
		textarea {
			min-height: calc(5 * #{$vertical-unit});
		}
	}
}


.fieldset {
	background-color: $grey7;
	margin-top: 0;
	padding-top: 3 * $vertical-unit;
	&:last-child {
		margin-bottom: 0;
	}
	overflow: hidden;
	position: relative;

	legend {
		background-color: $primary-color;
		color: #fff;
		padding: 6px 1.469rem;
		position: absolute;
		top: 0;
		left: 0;
		// border-radius: 5px 0 0 0;
		margin: 0;

		&::after {
			content: '';
			position: absolute;
			background-color: $primary-color;
			width: 16px;
			right: -16px;
			height: 100%;
			top: 0;
			clip-path: polygon(0 0, 100% 0, 00% 100%, 0 1000%);
		}

		&::before {
			content: '';
			position: absolute;
			// display: none;
			top: 0;
			left: 100%;
			width: 100vw;
			height: 100%;
			background-color: $grey6;
		}
	}
}

.action-area {
	margin-top: 0.5 * $vertical-unit;
	margin-left: -4px;
	margin-right: -4px;
	display: flex;
	justify-content: flex-start; //space-between;;
	align-items: center;

	button {
		margin: 0 4px;
	}

	a {
		margin-left: 16px;
	}

	// The first button is the primary one, e.g. is activated when hitting ENTER
	// We want it to be rightmost however
	button:first-child {
		margin-left: auto;
		order: 2;
	}

}

label {
	// font-size: 12px;
	color: $grey2;
	color: $grey4;
}

.required label::after {
	content: ' *';
	font-weight: bold;
	color: $primary-color;
}

.info {
	color: $grey3;
	font-size: 16px;
	// margin-top: $vertical-unit;
	margin-bottom: $vertical-unit;
}

.info span {
	font-weight: bold;
	color: $primary-color;
}

.icon {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.25 * $gutter;
	path {
		fill: currentColor;
	}
}

// Honeypot in some forms
label[for=booking_fax],
input[name=booking_fax],
label[for=registration_fax],
input[name=registration_fax],
label[for=membership_fax],
input[name=membership_fax] {
	position: fixed;
	top: -99999px;
	left: -99999px;
	// display: none !important;
}


