/**
 * src/css/components/_form.scss
 *
 * @author Johannes Braun
 * @package haus-st-jakobus
 */

form {
	.fieldset {
		#{$all-text-inputs} {
			border: 1px solid $grey6;
		}
		input, textarea, label, .help-text {
		}
	}
}

.fieldset {
	background-color: $grey7;//$primary-color-soft;
	border: none;
	box-shadow: 0 0 6px $grey5;
	/* margin-bottom: $vertical-unit; */
	legend {
		background-color: $primary-color;
		color: #fff;
		padding: 6px 10px;
	}
}

label {
	@include type-setting(-1);
}
