// Header
//
// The website's main header
//
// Markup:
// 
// <header class="main-header">
// 	<a href="/" class="main-header__brand brand">
// 		<img class="brand__logo" src="/dist/img/logo.png" alt="" />
// 		<h1 class="brand__name">Haus St. Jakobus</h1>
// 	</a>
// 	<div class="title-bar" data-responsive-toggle="haus-st-jakobus-menu" data-hide-for="large">
// 		<button onclick="document.getElementById('hamburger').classList.toggle('hidden');document.getElementById('cross').classList.toggle('hidden');" class="menu-trigger" type="button" data-toggle="haus-st-jakobus-menu">
// 			<svg class="" viewBox="0 0 100 100">
// 				<g id="hamburger">
// 					<line stroke="#fff" stroke-width="10" x1="0" y1="20" x2="100" y2="20" />
// 					<line stroke="#fff" stroke-width="10" x1="0" y1="50" x2="100" y2="50" />
// 					<line stroke="#fff" stroke-width="10" x1="0" y1="80" x2="100" y2="80" />
// 				</g>
// 				<g id="cross" class="hidden">
// 					<line stroke="#fff" stroke-width="10" x1="10" y1="15" x2="90" y2="85" />
// 					<line stroke="#fff" stroke-width="10" x1="10" y1="85" x2="90" y2="15" />
// 				</g>
// 			</svg>
// 		</button>
// 	</div>
// </header>
//
// Styleguide Components.header

.main-header {
	padding: 0.5 * $vertical-unit $gutter;
	background-color: $primary-color;
	background-image: linear-gradient($primary-color, darken($primary-color, 3%));
}


.motto {

	color: #fff;
	font-weight: bold;
	font-style: italic;
	@include type-setting(0);
	line-height: 1;

	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	line-height: 1;
	color: $primary-color;
	background-color: $primary-color-soft;
	padding: 10px 1rem 8px 1rem;
	text-align: right;

	&::before {
		content: open-quote;
	}
	&::after {
		content: close-quote;
	}
}

@include for-size(tablet-landscape-up) {
	.motto {
		@include type-setting(1);
		position: static;
		width: max-content;
		color: #fff;
		background-color: transparent;
		height: 60px;
		line-height: 60px;
		margin-left: auto;
	}
}


.hero {
	height: 66vh;
	background-image: url('/media/mood.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	.inner-bound {
		height: 100%;
	}


	&__title {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		// bottom: $vertical-unit;
		right: $gutter;
		color: #fff;
		font-size: 1.5rem;
		font-weight: bold;
		background-color: rgba(#fff, 0.8125);
		color: $primary-color;
		line-height: 1.3em;
		padding: 0.25em 1em;
	}
}
