.main-header {
	padding: 0.5 * $vertical-unit $gutter;

	background-color: $primary-color;
	// background-image: linear-gradient darken($primary-color, 90%), $primary-color;
	background-image: linear-gradient($primary-color, darken($primary-color, 3%));
	/* border-bottom: 2px solid #fff; */

	/* position: sticky; */
	top: 0;
	z-index: 100;

	height: 100px;

	display: flex;
	align-items: center;
}


.motto {

	display: none;

	font-family: 'Dynalight';
	font-style: normal;
	margin-left: auto;
	color: #fff;
	@include type-setting(2);
}

.hero {
	height: 66vh;
	background-image: url('/media/mood.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	.inner-bound {
		height: 100%;
	}


	&__title {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		// bottom: $vertical-unit;
		right: $gutter;
		color: #fff;
		font-size: 1.5rem;
		font-weight: bold;
		background-color: rgba(#fff, 0.8125);
		color: $primary-color;
		line-height: 1.3em;
		padding: 0.25em 1em;
	}
}
