.main-header {
	// position: sticky;
	// top: 0;
	// z-index: 1;
}

.main-nav {

	display: flex;
	justify-content: space-between;
	align-items: flex-end;


	&__menu {
		margin-bottom: 0;
	}

	.nav-item {
		text-decoration: none;
		position: relative;
		display: inline-block;
		margin-left: $gutter;

		&__link {
            @include type-setting (-1);
			display: inline-block;
			transition: 50ms;
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}

		&::after {
			content: '';
			border-bottom: 2px solid #fff;
			transform: translateY(5px) scaleX(0);
			position: absolute;
			top: 0px;
			left: 0;
			right: 0;
			bottom: 4px;
			transition: 150ms;
            pointer-events: none;
		}


		&.current::after,
		&:focus::after,
		&:active::after,
		&:hover::after {
			transform: translateY(5px) scaleX(1);
		}

		&:active .nav-item__label {
			transform: translateY(1px);
		}
	}
}
