/**
 * src/css/components/_main-nav.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakob
 */

$transition-duration: 100ms;

.main-nav {

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: sticky;
	top: 0;
	z-index: 100;
	/* top: 0; */
	/* bottom: -40px; */
	height: 48px;
	/* left: 0; */
	/* width: 100%; */
	background-color: rgba($primary-color-soft, 0.85);
	padding: 0 $gutter;
	border-bottom: 2px solid $primary-color;


	.brand {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		color: $primary-color;
		position: absolute;

		&__logo {
			height: 1.5 * $vertical-unit;
			width: auto;
		}

		&__name {
			text-align: right;
			color: #fff;
			color: $primary-color;
			@include type-setting(-1);
		}
	}


	.submenu {
		padding: 0.5rem;
	}

	.submenu .nav-item__link {
		color: $primary-color;
		margin: 0;
	}



	// Overrid submenu open animation
	.is-dropdown-submenu {
		opacity: 0;
		display: block;
		transform-origin: top left;
		transform: scale(0);
		transition: $transition-duration ease-in;
	}

	.is-active .is-dropdown-submenu {
		opacity: 1;
		transform: scale(1);
	}



	&__menu {
		height: 100%;
		margin-bottom: 0;
		margin-left: auto;
		display: flex;
		align-items: center;
	}

	.nav-item {

		text-decoration: none;
		position: relative;
		display: inline-block;
		padding: 0 0.75 * $gutter;
		height: 100%;
		display: flex;

		&__link {

			background: transparent;
			@include type-setting (-1);
			line-height: 1;
			display: inline-block;
			transition: 50ms;
			color: #fff;
			color: $primary-color;
			margin: auto;
			padding: 0;
			position: relative;
			z-index: 1;

			&:hover {
				text-decoration: none;
			}
		}

		&::after {
			content: '';
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -0px;
			transform-origin: left center;
			transform: scaleX(0);
			transition: $transition-duration ease-in;
			z-index: 0;
			/* border-bottom: 2px solid #fff; */
		}

		&:hover::after {
			transform: scaleX(1);
		}

		&.current::after,
		&:focus::after,
		&:active::after,
		&:hover::after {
			/* transform: translateY(5px) scaleX(1); */
		}

		&:active .nav-item__label {
			transform: translateY(1px);
		}
	}
}

.page-has-scrolled .main-nav {
	background-color: rgba($primary-color-soft, 1);

	.brand__logo {
		display: none;
	}
}
