/**
 * src/css/components/_main-nav.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakob
 */

$transition-duration: 250ms;
$break-size: tablet-landscape-up;

.main-header {

	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	//justify-content: space-between;

	@include for-size($break-size) {
		position: static;
		height: 100px;
	}
}

.top-bar {
	background-color: $red3;
	padding: 0;
	height: 100%;
}

.title-bar {
	width: 32px;
	height: 32px;
	margin-left: auto;

	.menu-trigger {
		width: 100%;
		height: 100%;
		cursor: pointer;

		svg {
			width: 32px;
			height: 32px;
		}
	}
}

.hidden {
	display: none;
}

.main-nav__menu.menu {

	> .nav-item > a {
		display: block;
		transition: 150ms;
		text-decoration: none;
		white-space: nowrap;
		padding: 6px 1.1rem;

		&:focus,
		&:hover {
			border: none;
			outline: none;
			background-color: $red4;
			text-decoration: none;
		}
	}
}
.dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a {
	padding-right: 1.35rem;
}

.brand {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: #fff;
	color: $primary-color;
	position: absolute;

	@include for-size($break-size) {
		flex-direction: column;
	}

	&__logo {
		// height: 1.5 * $vertical-unit;
		// height: 3.5 * $vertical-unit;
		height: 24px;
		width: auto;
		margin-right: 10px;
		@include for-size($break-size) {
			height: 36px;
		}
	}

	&__name {
		text-align: left;
		position: relative;
		top: 3px;
		color: #fff;
		margin: 0;

		// @include type-setting(0);
		font-size: 11px;
		@include for-size($break-size) {
			@include type-setting(0);
			margin-top: 0.67em;
		}
	}
}

body {
	padding-top: 60px;
	@include for-size($break-size) {
		padding-top: 0;
	}
}

.is-drilldown {
	// top: 60px;
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 10;
}

.main-nav {
	.menu a {
		display: block;
		border-bottom: 1px solid rgba($red2, 0.1);
	}
}


@include for-size($break-size) {
	.page-has-scrolled .main-nav {
		position: fixed;
	}
	.main-nav {

		background-color: rgba($red3, 0.85);

		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;

		height: 48px;
		padding: 0 $gutter;

		.menu a {
			border: 0;
			width: 100%;
		}

		.submenu {
			padding: 0.5rem;
			background-color: #fff;
		}

		.submenu .nav-item__link {
			color: $primary-color;
			margin: 4px 0;
		}

		.is-submenu-item {
			padding: 0 0.5rem !important;
			transition: 150ms;

			&:hover {
				background-color: $red4;
			}
		}



		// Overrid submenu open animation
		.is-dropdown-submenu {
			opacity: 0;
			display: block;
			transform-origin: top right;
			transform: scale(0);
			transition: $transition-duration ease-in;
			// border-top: 3px solid $primary-color;
		}

		.is-active .is-dropdown-submenu {
			opacity: 1;
			transform: scale(1);
		}



		&__menu {
			height: 100%;
			margin-bottom: 0;
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.nav-item {

			text-decoration: none;
			position: relative;
			display: inline-block;
			padding: 0 0.5vw; // $gutter;
			height: 100%;
			display: flex;

			// @include for-size(tablet-landscape-up) {
			// 	padding-left: $gutter;
			// 	padding-right: $gutter;
			// }

			&__link {

				// transform: translateY(3px);
				background: transparent;
				@include type-setting (0);
				line-height: 1.5;
				display: inline-block;
				transition: 100ms;
				color: #fff;
				color: $primary-color;
				margin: auto;
				padding: 0;
				position: relative;
				z-index: 1;
				min-width: max-content;

				&:hover {
					text-decoration: none;
				}
			}

			&:hover > a,
			&.current > a {
				background-color: $red4;
			}
		}
	}

	.page-has-scrolled .main-nav {
		background-color: rgba($primary-color-soft, 1);

		.brand {
			flex-direction: row;
			flex-wrap: nowrap;
		}

		.brand__logo {
			height: 1.5 * $vertical-unit;
			margin: 0 6px 8px 0;
		}
	}
}

.menu.vertical {
	> .menu__item > a {
		padding-left: 0; //$gutter;
		padding-right: $gutter;
		padding-top: 0.25 * $vertical-unit;
		padding-bottom: 0.25 * $vertical-unit;
		line-height: 1.45rem;
		transition: 100ms ease-out;

		&:focus,
		&:hover {
			border: none;
			outline: none;
			background-color: $red4;
			text-decoration: none;
			padding-left: $gutter;
		}
	}
}


.main-nav__menu.menu > .nav-item {
	.fb-link {
		color: $primary-color;
		align-items: center;
		display: flex;
		gap: 0.5em;

		svg {
			aspect-ratio: 1/1;
			width: 28px;
			height: 28px;
			display: block;
			* {
				fill: currentColor !important;
			}
		}

		@include for-size($break-size) {
			padding: 0 2px 0 0;
			position: relative;
			left: 1rem;
			color: #fff;

			&:focus,
			&:hover {
				background: transparent !important;
			}

			svg {
				width: 32px;
				height: 32px;
			}

			span {
				display: none;
			}
		}
	}
}

@include for-size ($break-size) {
	.top-bar {
		background-color: transparent !important;
	}
}
