.post {

	&--teaser {
		border-bottom: 1px solid $medium-grey;
		margin-bottom: 3rem;
		padding-bottom: 3rem;
		display: flex;
		flex-direction: column;
	}

	&__image {
		order: 1;
	}

	&__meta {
		color: $medium-grey;
		margin-bottom: 0;
		order: 2;
		line-height: 1.25;
	}

	&__kicker {
		@include type-setting(0, 0);
		color: $primary-color;
		line-height: 1.25;
		order: 3;
	}

	&__title {
		order: 4;
		@include type-setting(2);
		line-height: 1.25;
	}

	&__teaser {
		order: 5;
	}

	&__link {
		order: 6;
	}
}

.post-teaser {
	@include media-object-container;
	margin-bottom: 3 * $vertical-unit;

	&__image {
		width: 33%;
		@include media-object-section;
		@include media-object-stack;	
	}

	&__body {
		width: 66%;
		@include media-object-section;
		@include media-object-stack;	
	}

	&__meta {
		color: $text-color-light;
		margin-bottom: 0;
	}

	&__title {
		@include type-setting(1, 0);
	}

	&__teaser {
		margin-bottom: $vertical-unit;
	}
}

