/**
 * src/css/components/_news.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */

.post {

	&--teaser {
		border-bottom: 1px solid $medium-grey;
		margin-bottom: 3rem;
		padding-bottom: 3rem;
		display: flex;
		flex-direction: column;
	}

	&__meta {
		@include type-setting(0, 0);
		color: $medium-grey;
		margin-bottom: 0;
		line-height: 1.25;
	}

	&__kicker {
		@include type-setting(0, 0);
		font-weight: normal;
		color: $primary-color;
		line-height: 1.25;
	}

	&__title {
		@include type-setting(1, 1);
		line-height: 1.25;
	}

	.back {
		@include type-setting(0, 0);
	}

	&__media {
		.post-image {
			img {
				margin-bottom: $vertical-unit;
			}
				margin-bottom: 2 * $vertical-unit;
		}
	}
}



.news-teaser {
	@include media-object-container;
	margin-bottom: 3 * $vertical-unit;

	&__image {
		width: 33%;
		@include media-object-section;
		@include media-object-stack;	
		flex-basis: auto;
	}

	&__body {
		width: 66%;
		@include media-object-section;
		@include media-object-stack;	
	}

	&__meta {
		@include type-setting(0, 0);
		color: lighten($text-color-light, 35%);
		margin-bottom: 0;
	}

	&__kicker {
		font-weight: normal;
		color: $primary-color;
		@include type-setting(0);
		// display: none;
	}

	&__title {
		@include type-setting(1, 0);
		// text-transform: uppercase;
		// line-height: 1;
		margin-bottom: 0.5 * $vertical-unit;
	}

	&__teaser {
		margin-bottom: $vertical-unit;
		max-width: 36ch;
		color: $text-color-light;
	}

	.more {
		@include type-setting(0);
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	position: relative;

}

.sidebar {
	.teaser {
		flex-wrap: wrap;

		&__meta {
			display: none;
		}

		&__image, 
		&__body {
			width: 100%;
		}

		&__image {
			margin: 0;
			padding: 0;

		}
	}
}

