/**
 * src/css/components/_secnav.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
.secnav {

	visibility: hidden;
	height: 0;

	@include for-size(tablet-landscape-up) {
		visibility: visible;
		height: auto;
	}

	color: $primary-color;
	.widget__title {
		display: flex;
		align-items: center;
	}

	svg {
		width: 10px;
		height: 10px;
		fill: currentColor;
	}

	.menu {
		list-style: none;
	}

	a.menu__link {
		padding-left: 1em;
		position: relative;
		white-space: normal;
		line-height: 1.25em;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 16px;
			transform: translateY(-50%);
			border: 5px solid rgba($primary-color, 0);
			border-left: 10px solid rgba($primary-color, 1);
			width: 0;
			height: 0;
			visibility: hidden;
		}
	}

	// .widget__header .menu__link::before {
	// 	transform-origin: top center;
	// 	transform: rotate(-90deg);
	// 	visibility: visible;
	// }

	.is-active {
		&::before {
			visibility: visible;
		}
	}
}
