/**
 * src/css/components/_slideshow.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de
 * @package haus-st-jakobus
 */
.slideshow {
}

.orbit-controls {

	button {
		@include button-reset;

		background-color: rgba($dark-grey, 0.7);
		transform: translateY(-50%);
		width: 3rem;
		height: 3rem;
		display: flex;

		transition: opacity 275ms ease-in;
		opacity: 0;

		svg {
			width: 60%;
			height: 60%;
			margin: auto;
		}

		path {
			fill: #fff;
		}
	}
}

.slideshow:hover .orbit-controls button {
	opacity: 1;
}

.orbit-bullets {
	position: absolute;
	bottom: -3rem;
	width: 100%;

	button {
		@include button-reset;
		background-color: $light-grey;
		transition: 150ms ease-in;
		width: 16px;
		height: 16px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		margin: 0 4px;
	}

	button.is-active {
		background-color: $dark-grey;
	}
}



.homepage-slider {
	@include orbit-wrapper;

	height: 66vh;
	overflow: hidden;

	&__container {
		@include orbit-container;
		height: 100%;
	}

	&__slide {
		@include orbit-slide;
		height: 100%;
	}

	&__figure {
		margin: 0;
		height: 100%;
	}

	&__image {
		// @include orbit-image;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__caption {
		position: relative;
		max-width: $inner-bound-width;
		margin: 0 auto;
		height: 100%;
		// @include inner-bound;
	}

	&__caption-inner {
		background-color: $primary-color;
		color: #fff;
		@include type-setting(2, 0);
		position: absolute;
		right: 0;
		top: 30%;
		bottom: auto;
		z-index: 2;
		display: inline-block;
		padding: 0.25em;
		width: auto;
		height: auto;
	}

}
