/**
 * src/css/components/_teaser.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
*:focus {
	outline: 1px dotted $grey4;
	outline-offset: 4px;
	border: 0;
}

.teaser {
	@include media-object-container;
	margin-bottom: 2 * $vertical-unit;
	flex-wrap: wrap;

	&__image {
		@include media-object-section;
		@include media-object-stack;

		padding-right: 0;

		@include for-size(tablet-landscape-up) {
			padding-right: 1 * $gutter !important;
			width: 200px;
		}
		flex: 0 1 auto;
	}

	&__details-trigger {
		color: $primary-color;
		cursor: pointer;

		// display: inline-block;
		width: auto;

	}

	&__details-body {
		margin-top: $vertical-unit;

		dl {
			display: flex;
		}

		dt {
			font-weight: bold;
			min-width: 140px;
			flex: 0 1 140px;
			margin-bottom: $vertical-unit;
			color: $grey3;
		}

		dd {
			width: 100%;
			flex: 0 1 auto;
			margin-bottom: $vertical-unit;
			display: flex;

			> * {
				margin-right: $gutter;
			}
		}
	}

	&__body {
		@include media-object-section;
		@include media-object-stack;
		flex: 1;
	}

	&__meta {
		color: $grey2;
		font-weight: bold;;

		color: #fff;
		background-color: $primary-color;
		display: inline-block;
		padding: 4px 8px 2px 8px;
		margin-bottom: $vertical-unit;
	}

	&__action-area {
	}

	.headline.headline {
		margin: 4px 0;
		line-height: 1.1em;
	}


	a:hover {
		text-decoration: none;
		color: inherit;
	}
}

