/**
 * src/css/components/_teaser.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
*:focus {
	outline: 1px dotted $grey4;
	outline-offset: 4px;
	border: 0;
}

// Teaser
//
// A generic element to act as a teaser for all sorts of content, e.g. courses, events, news posts …
//
// .teaser--event 	- Teaser for events
// .teaser--news  	- Teaser for news posts (is this used at all?)
// .teaser--course 	- Teaser for courses (is this used at all?)
//
// Markup:
// <article class="teaser teaser--event">
// 	<figure class="teaser__image">
// 		<a href="#">
// 			<img src="../media/courses/thumbnails/square/adventure-1850912-1920.jpg" alt="">
// 		</a>
// 	</figure>
// 	<div class="teaser__body">
// 		<header class="teaser__header">
// 			<div class="teaser__meta">21.06.2019</div>
// 			<h3 class="kicker">Männerabend - Grillabend mit thematischem Impuls</h3>
// 			<h2 class="headline">Unser angekündigter Männerabend im Juni muss leider ausfallen.</h2>
// 		</header>
// 		<div class="teaser__date-time">
// 			<p>
// 				<em>Beginn: Fr, 21. Juni 2019 18:00 Uhr Stehempfang</em><br>
// 				<em>Ende: Fr, 21. Juni 2019 21:30 Uhr </em>
// 			</p>
// 		</div>
// 		<details>
// 			<summary class="teaser__details-trigger">Details &amp; Anmeldung</summary>
// 			<div class="teaser__details-body">
// 				<div class="teaser__description">
// 					<dl>
// 						<dt>Ort</dt>
// 						<dd>
// 							Cursillo-HausSt. Jakobus, Kapellenberg 58<br>
// 							89610 Oberdischingen, Tel.: 073 05 / 91 95 75<br>
// 							info@haus-st-jakoobus.de
// 						</dd>
// 					</dl>
// 					<dl>
// 						<dt>Leitung</dt>
// 						<dd>Männer-Team St. Jakobus<br>
// 						Karl, Franz, Norbert und Martin</dd>
// 					</dl>
// 					<dl>
// 						<dt>Anmeldung</dt>
// 						<dd>
// 							<div class="event-availability">
// 									<p>Keine Teilnehmerbegrenzung</p>
// 							</div>
// 							<p class="teaser__action-area">
// 							</p>
// 						</dd>
// 					</dl>
// 				</div>
// 			</div>
// 		</details>
// 	</div>
// </article>
//
// Styleguide: Components.teaser

.teaser {
	@include media-object-container;
	margin-bottom: 2 * $vertical-unit;
	flex-wrap: wrap;

	&__image {
		@include media-object-section;
		@include media-object-stack;

		padding-right: 0 !important;
		width: 100%;

		img {
			max-width: 200px;
		}

		@include for-size(tablet-landscape-up) {
			padding-right: 1 * $gutter !important;
			width: 200px;
		}
		flex: 0 1 auto;
	}

	&__details-trigger {
		color: $primary-color;
		cursor: pointer;

		// display: inline-block;
		width: auto;

	}

	&__details-body {
		margin-top: $vertical-unit;

		dl {
			display: flex;
			flex-direction: column;
		}

		dt {
			font-weight: bold;
			min-width: 140px;
			margin-bottom: $vertical-unit;
			color: $grey3;
		}

		dd {
			width: 100%;
			flex: 0 1 auto;
			margin-bottom: $vertical-unit;
			// display: flex;

			> * {
				margin-right: $gutter;
			}
		}
		@include for-size(tablet-landscape-up) {
			dl {
				flex-direction: row;
			}
			dt {
				flex: 0 1 140px;
			}
		}
	}

	&__body {
		@include media-object-section;
		@include media-object-stack;
		flex: 1;
	}

	&__meta {
		color: $grey2;
		font-weight: bold;

		color: #fff;
		background-color: $primary-color;
		display: inline-block;
		padding: 4px 8px 2px 8px;
		margin-bottom: $vertical-unit;
	}

	&__action-area {
	}

	.headline.headline {
		margin: 4px 0;
		line-height: 1.1em;
	}


	a:hover {
		text-decoration: none;
		color: inherit;
	}

	table.teaser__date-time {
		border: 0 !important;
		tr:first-child, tr, td {
			border: 0 !important;
		}
		tr {
			display: flex;
			flex-direction: column;
		}
		td {
			padding: 2px 0;
			vertical-align: top;
			width: 100%;
		}
		@include for-size(tablet-ladnscape-up) {
			tr {
				display: table-row;
			}
			td {
				width: auto;
			}
		}
	}
}

