/**
 * src/css/components/_widget.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
.widget {

	background: $primary-color-soft;
	border-top: 4px solid $primary-color;
	margin-bottom: $vertical-unit;
	border-radius: $border-radius;

	&__header {
		padding: 0.5 * $vertical-unit $gutter 0.5 * $vertical-unit $gutter;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}

	&__title {
		color: $text-color-dark;
	}

	&__body {
		padding: 0.5 * $vertical-unit $gutter 0.5 * $vertical-unit $gutter;

		&.is-hidden {
			display: none;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
	}
}

.badge {
	background-color: $primary-color;
	color: #fff;
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;;
}
