
.availability-indicator {

	margin-top: $vertical-unit;
	margin-bottom: 4px;

	svg {
		width: 18px;
		height: 18px;
		display: inline-block;
		vertical-align: middle;
	}

	progress {
		appearance: none;
		border: 0;

		background-color: $grey6;
		height: 18px;
		width: 160px;
		display: inline-block;
		vertical-align: middle;

		&::-moz-progress-bar {
			background-color: $grey4;
		}
	}

}

	.event_seats_available {
		font-size: 0.8125em;
		color: $grey5;
		font-style: italic;
		font-weight: bold;;
	}
