
.availability-indicator {
	width: 60px;
	display: inline-block;
	vertical-align: middle;
}

progress {
	appearance: none;
	border: 0;

	background-color: $grey6;
	height: 10px;
	width: 160px;

	&::-moz-progress-bar {
		background-color: $grey4;
	}

	// &.high::-moz-progress-bar {
	// 	background-color: green;
	// }
	// &.medium::-moz-progress-bar {
	// 	background-color: orange;
	// }
	// &.low::-moz-progress-bar {
	// 	background-color: red;
	// }
}


