/**
 * partials/_common.scss
 *
 * Common styles, like e.g. resets, basic styles...
 */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a, a:link, a:hover, a:visited {
	color: $primary-color;
	// text-decoration: underline;
}

img, video {
	width: 100%;
	max-width: 100%;
	height: auto;
}
