/**
 * partials/_common.scss
 *
 * Common styles, like e.g. resets, basic styles...
 */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

img, video {
	/* width: 100%; */
	max-width: 100%;
	height: auto;
}

summary {
	cursor: pointer;
}

.fb-sticky {
	position: fixed;
	right: 0;
	top: 20%;
	width: 64px;
	height: 64px;
	z-index: 1000;
	padding: 10px;
	background-color: $red1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fb-link {
	display: block;
	width: 100%;
	height: 100%;
	svg {
		width: 100%;
		height: 100%;
	}
}
