/**
 * src/css/partials/_courses.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
.course__description {
	max-width: 40em;

	> p:first-of-type::first-letter {
		@include type-setting(2);
		line-height: 1;
		color: $primary-color;
		font-weight: bold;
		vertical-align: baseline;
	}
}



table.courses-overview {
	width: 100%;
	border-collapse: collapse;
	background-color: #f8f7f6;

	td {
		vertical-align: top;
		border: 1px solid #fff;
		padding: 0.3em;
	}
}

.course__detail {
	margin-bottom: 0.5 * $vertical-unit;

	dt {
		font-weight: bold;
	}

	dd {
	}
}
