/**
 * src/css/partials/_courses.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */

.course__headline {
	line-height: 1.5;
}

.course__description {
	max-width: 40em;

	> p:first-of-type::first-letter {
		@include type-setting(2);
		line-height: 1;
		color: $primary-color;
		font-weight: bold;
		vertical-align: baseline;
	}
}



table.courses-overview {
	width: 100%;
	border-collapse: collapse;
	background-color: #f8f7f6;

	td {
		vertical-align: top;
		border: 1px solid #fff;
		padding: 0.3em;
	}
}

.course__detail {
	margin-bottom: 0.5 * $vertical-unit;

	dt {
		font-weight: bold;
	}

	dd {
		margin-bottom: 0.5 * $vertical-unit;
		padding-bottom: 0.5 * $vertical-unit;
		// border-bottom: 1px solid $light-grey;
	}
}

.course__footer {
	// @include type-setting(-1);
}

.course__events {
	margin: $vertical-unit 0;

	caption {
		text-align: left;
		font-weight: bold;
	}

	td, th {
		vertical-align: top;
		padding: 0.5 * $vertical-unit $gutter !important;

		&:first-child {
			padding-left: 0 !important;
		}

		&:last-child {
			padding-right: 0 !important;
			vertical-align: bottom;
			text-align: right;
		}
	}

	.event__date {
		white-space: nowrap;
	}
}

.course.media-object {
	.media-object-section:nth-child(1) {
		width: 33%;
		img {
			max-width: 100%;
		}
	}
	.media-object-section:nth-child(2) {
		width: 66%;
	}
}

.course-teaser {
	@include media-object-container;
	margin-bottom: 2 * $vertical-unit;

	&__image {
		@include media-object-section;
		@include media-object-stack;
		width: 200px;
		flex: 0 1 auto;
	}

	&__body {
		@include media-object-section;
		@include media-object-stack;
		// width: 66%;
		flex: 1;
	}

	&__action-area {
		margin-top: $vertical-unit;
	}
}

