/**
 * src/css/partials/_courses.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
.course__description {
	max-width: 40em;

	> p:first-of-type:first-letter {
		@include type-setting(1);
		color: $primary-color;
		font-weight: bold;
		vertical-align: baseline;
	}
}
