/**
 * templates/partials/_floated-image.scss
 * 
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
.floated-image {
	margin-bottom: $vertical-unit;

	width: 100%;

	@include for-size(tablet-portrait-up) {
		&--small {
			width: 33%;
		}
	}

	@include for-size(tablet-landscape-up) {
		&--large {
			width: 66%;
		}
	}

	&--left {
		float: left;
		margin-right: $gutter;
	}

	&--right {
		float: right;
		margin-left: $gutter;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
		width: 100%;
	}
}

