/**
 * templates/partials/_floated-image.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
.floated-image {
	margin-bottom: $vertical-unit;
	overflow: hidden;
	width: 100%;

	img {
		display: block;
		height: auto;
		max-width: 100%;
		width: 100%;
	}

	&--tiny .floated-image__image {
		width: 160px;
	}

	@include for-size(tablet-portrait-up) {
		&--small .floated-image__image {
			width: 33%;
		}

	}

	@include for-size(tablet-landscape-up) {
		&--large .floated-image__image {
			width: 66%;
		}
	}

	&--left .floated-image__image {
		float: left;
		margin-right: $gutter;
	}

	&--right .floated-image__image {
		float: right;
		margin-left: $gutter;
	}

}

