n-/**
 * src/css/partials/_layout.scss
 *
 * Layout specific styles
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */

html, body {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	background-color: #f0f0f0;
}

.outer-container {
	max-width: $max-width;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(30, 30, 30, 0.2);
}


.inner-bound {
	max-width: calc(#{$inner-bound-width} - 2rem);
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;

	@media (min-width: $inner-bound-width) {
		padding: 0;
	}
}

.main-container {
	// padding-top: 3 * $vertical-unit;
	// padding-bottom: 3 * $vertical-unit;

	min-height: 50vh;

	display: flex;
	flex-wrap: wrap;

	flex-direction: row;
	/* overflow: hidden; */

	position: relative;
	background-color: #fff;
	padding: 1 * $vertical-unit $gutter;
	@include for-size(tablet-portrait-up) {
		padding: 4 * $vertical-unit 2 * $gutter;
	}

	box-shadow: 0 0 10px rgba(30, 30, 30, 0.2);
	border-radius: $border-radius;
	margin-top: -32px;
	margin-bottom: -32px;

	z-index: 1;

	@include for-size(tablet-landscape-up) {
		flex-wrap: nowrap;
	}
}

.main-content {
	flex: 0 1 100%;
	order: 2;
}

.sidebar {
	flex: 0 1 auto;
	order: 1;
	width: 100%;
	margin-bottom: 1 * $vertical-unit;
	// display: sticky;
	// top: 0;
	
	> h2:first-child {
		display: none;
	}

	@include for-size(tablet-landscape-up) {
		> h2:first-child {
			display: block;
		}

		width: $sidebar-width;
		flex: 0 0 auto;
		order: 3;

		padding-left: 3 * $gutter;
		margin-bottom: 3 * $vertical-unit;

		top: 4 * $vertical-unit;
	}

	.menu {
		a {
			padding: 4px 0.5rem;
		}
	}
}

.mood {
	height: 300px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}



// TODO: This is just a draft
.sidebar {
	figure {
		overflow: hidden;

		img {
			float: left;
			display: block;
			margin-right: $gutter;
		}
		figcaption {
		}
	}
}


figure {
	@include for-size(tablet-portrait-up) {
		margin-bottom: $vertical-unit;
	}
	figcaption {
		font-style: italic;
		color: $text-color-light;
	}
}

