/**
 * src/css/partials/_layout.scss
 *
 * Layout specific styles
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */

html, body {
	min-height: 100%;
}

body {
	background-color: #f0f0f0;
}

.inner-bound {
	max-width: calc(#{$inner-bound-width} - 2rem);
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;

	@media (min-width: $inner-bound-width) {
		padding: 0;
	}
}

.main-container {
	// padding-top: 3 * $vertical-unit;
	// padding-bottom: 3 * $vertical-unit;

	min-height: 50vh;

	display: flex;
	flex-direction: row;
	/* overflow: hidden; */

	position: relative;
	background-color: #fff;
	padding: 4 * $vertical-unit 2 * $gutter;
	box-shadow: 0 0 10px rgba(30, 30, 30, 0.2);
	border-radius: $border-radius;
	margin-top: -32px;
	margin-bottom: -32px;

	z-index: 1;
}

.main-content {
	padding-right: 3 * $gutter;
	flex: 1;
	overflow: hidden;
}

$sidebar-width: 18rem;

.sidebar {
	order: 2;
	flex: 0 0 $sidebar-width;
	width: $sidebar-width;

	// Position sticky inside flex container:
	// https://stackoverflow.com/a/44446672
	position: sticky;
	align-self: flex-start;
	height: auto;

	top: 4 * $vertical-unit;
	// background-color: rgba(skyblue, 0.2);

	// @include type-setting(-1);
}


.mood {
	height: 300px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}



// TODO: This is just a draft
.sidebar {
	figure {
		img {
			float: left;
			display: block;
			margin-right: $gutter;
		}
		figcaption {
		}
	}
}


figure {
	margin-bottom: $vertical-unit;
	figcaption {
		font-style: italic;
		color: $text-color-light;
	}
}
