/**
 * src/css/partials/_map.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
.map {
	position: relative;
	height: 400px;
	z-index: 1;
	border-top: 1px solid $grey6;
	margin: 0;
	overflow: hidden;
	position: relative;

	#map {
		scroll-margin-top: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100vh;
		z-index: 1;
	}
}

#map-trigger-btn {
	position: absolute;
	z-index: 10000;
	top: 48px; // compensate negative margin of main-content (don't ask, just leave it)
	left: 50%;
	transform: translate(-50%, 0);
}


.leaflet-control {
	@media screen and (max-width: 1440px) {
		transform: translateY(40px);
	}
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}
