/**
 * templates/partials/_pilgrimpass-form.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
#pilgrimpass-form {

	.fieldset {
		position: relative;
		// padding-top: 2 * $vertical-unit;
		// margin-top: 0;

		&:first-child {
			.remove-button {
				display: none;
			}
		}
	}

	.remove-button {
		position: absolute;
		top: 8px;
		right: $gutter;
		color: $grey3;
	}

	ol {
		list-style-position: inside;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -1 * $gutter;
		counter-reset: c;

		> li {
			position: relative;

			&::before {
				content: counter(c);
				counter-increment: c;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $primary-color;
				color: #fff;
				padding: 0 1rem;
				width: 2rem;
				height: 2rem;
				line-height: 2rem;
				font-weight: bold;
			}

			&::after {
				content: '';
				position: absolute;
				background-color: $primary-color;
				top: 0;
				left: 2rem;
				width: 1rem;
				height: 2rem;
				clip-path: polygon(0 0, 100% 0, 0 100%);
			}
		}
	}

	.headline {
		margin-bottom: $vertical-unit;
	}

	.card {
		// @extend .fieldset;
		color: $grey3;
		margin-bottom: $vertical-unit;
		padding-top: 2 * $vertical-unit;
		padding-left: $gutter;
		padding-right: $gutter;
		padding-bottom: $vertical-unit;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		flex: 1 0 auto;
		background-color: #fff;
		width: calc(100% - 2 * #{$gutter});
		margin: 0 $gutter $gutter $gutter;

		@include for-size(desktop-up) {
			width: calc(50% - 2 * #{$gutter});
			max-width: calc(50% - 2 * #{$gutter});
		}
	}


	table {

		flex: 1 0 auto;
		// min-width: 320px;

		td, th {
			vertical-align: top;
		};
		td {
			padding: 1px 0.25 * $vertical-unit;
		}

		th {
			padding: 1px 8px 1px 0;
			font-weight: normal;
			color: $grey4;
			text-align: left;
			width: 140px;
			// &::after {
			// 	content: ':';
			// }
		}
	}

	.error {
		label {
			color: $red1;
		}

		input, textarea {
			background-color: $red3;
			border: $red2;
		}
	}
}

.form-field--payment {
	.button-group {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: $vertical-unit 0;
		gap: 8px;
	}

	input {
		display: none;
		margin: 0;
	}

	input[type=radio]:checked + label {
		background-color: #fff;
		border-color: currentColor;
		color: $primary-color;
	}

	label {
		margin: 0;
		display: inline-block;
	}

	input[type=text] {
		width: 200px;
		text-align: center;
	}

	.button-group {
		// position: relative;
		// display: inline-block;
		// width: max-content;
	}

	#membership-amount-custom ~ label,
	#payment-amount-custom ~ label {
		width: 200px;
	}

	#membership-amount-custom ~ input[type=text]::placeholder,
	#payment-amount-custom ~ input[type=text]::placeholder {
		font-size: 10px;
		color: $grey2;
	}

	label[for=membership-amount-custom-text],
	label[for=payment-amount-custom-text],
	#membership-amount-custom:checked ~ label,
	#payment-amount-custom:checked ~ label {
		display: none;
	}

	#membership-amount-custom:checked ~ input[type=text],
	#payment-amount-custom:checked ~ input[type=text] {
		display: inline-block;
		font-size: 17px;
		color: $primary-color;
		border: 1px solid $primary-color;
		width: 200px;
		position: relative;
	}

	#membership-amount-custom:checked ~ label[for=membership-amount-custom-text],
	#payment-amount-custom:checked ~ label[for=payment-amount-custom-text] {
		display: inline-block;
		width: 33px;
		height: 32px;
		font-size: 17px;
		line-height: 32px;
		color: $primary-color;
		text-align: right;
	}
}
