/**
 * templates/partials/_pilgrimpass-form.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package haus-st-jakobus
 */
#pilgrimpass-form {

	.fieldset {
		position: relative;
		padding-top: 2 * $vertical-unit;

		&:first-child {
			.remove-button {
				display: none;
			}
		}
	}

	.remove-button {
		position: absolute;
		top: 0;
		right: $gutter;
	}

	.action-area {
		border-top: 1px solid rgba(200, 200, 200, 0.3);
		margin-top: 1 * $vertical-unit;
		padding-top: 1 * $vertical-unit;
		width: 100%;
		display: flex;
		justify-content: space-between;

		button:first-child {
			order: 2;
		}
		button:last-child {
			order: 1;
		}
	}

	ol {
		list-style-position: inside;
	}


	.headline {
		margin-bottom: $vertical-unit;
	}

	.card {
		@extend .fieldset;
		color: $grey3;
		margin-bottom: $vertical-unit;
	}

	table {
		tr {
		}

		td {
			padding: 1px 6px;
		}

		th {
			padding: 1px 8px 1px 0;
			font-weight: normal;
			color: $grey4;
			text-align: left;
			&::after {
				content: ':';
			}
		}
	}

	.error {
		label {
			color: $red1;
		}

		input, textarea {
			background-color: $red3;
			border: $red2;
		}
	}
}

