/**
 * _settings.scss
 */

//////////////
//  Colors  //
//////////////


/////////////////////////
//  New color palette  //
/////////////////////////

// Colors
//
// The color palette
//
// $grey1 - #111
// $grey2 - #2e3436
// $grey3 - #555753
// $grey4 - #888a85
// $grey5 - #babdb6
// $grey6 - #d3d7cf
// $grey7 - #eeeeec
// $red1 - #af1e23
// $red2 - #ea8082
// $red3 - #efd2d3
// $red4 - #faecec
//
// Styleguide Colors

$grey1: #111;
$grey2: #2e3436;
$grey3: #555753;
$grey4: #888a85;
$grey5: #babdb6;
$grey6: #d3d7cf;
$grey7: #eeeeec;

$red1: #af1e23;
$red2: #ea8082;
$red3: #efd2d3;
$red4: #faecec;

$primary-color: $red1;
$primary-color-soft: $red3;

$text-color: $grey2;
$text-color-light: $grey4;
$text-color-dark: $grey1;
$dark-grey: $grey1;
$medium-grey: $grey4;
$light-grey: $grey6;



//////////////////
//  Typography  //
//////////////////

$bourbon: (
	"modular-scale-base": 1rem,
	"modular-scale-ratio": 1.6 //$augmented-fourth
);
$vertical-unit: 1.45rem;
$visual-base-line-grid-above: false;
$min-font-size: 15px;
$max-font-size: 17px;



////////////////
// Measures   //
////////////////

$gutter: 1rem;
$inner-bound-width: 80rem;
$sidebar-width: 20rem;
$max-width: 2000px;



//////////////////////////
//  Options / Switches  //
//////////////////////////

$debug-base-line-grid: false;

$border-radius: 0;
