/**
 * main.scss
 */

//////////////////
//  Foundation  //
//////////////////

@import "foundation-settings";
@import "foundation";
@import "motion-ui";

@include foundation-global-styles;

@include motion-ui-transitions;
@include motion-ui-animations;

@include foundation-sticky;
// @include foundation-dropdown;
@include foundation-forms;

@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

@include foundation-top-bar;

@include foundation-button;
@include foundation-card;
// @include foundation-callout;
@include foundation-pagination;
// @include foundation-tabs;
@include foundation-orbit;
@include foundation-media-object;
@include foundation-xy-grid-classes(
	$base-grid: true,
	$margin-grid: true,
	$padding-grid: true,
	$block-grid: true,
	$collapse: true,
	$offset: true,
	$vertical-grid: true,
	$frame-grid: true
);
// @include foundation-table;


//////////////////
//  Own styles  //
//////////////////

@import "bourbon";
@import "settings";
@import "libhalma/libhalma";

@import "partials/common";
@import "partials/typography";
@import "partials/layout";
@import "partials/courses";
@import "partials/availability";
@import "partials/columns";
@import "partials/floated-image";
@import "partials/pilgrimpass-form";
@import "partials/highlighted-text";
@import "partials/map";
@import "partials/brightbox";

@import "components/header";
@import "components/footer";
@import "components/main-nav";
@import "components/secnav";
@import "components/calendar";
@import "components/button";
@import "components/form";
@import "components/fotoalbum";
@import "components/news";
@import "components/table";
@import "components/breadcrumbs";
@import "components/pagination";
@import "components/slideshow";
@import "components/widget";
@import "components/events";
@import "components/teaser";
@import "components/donations";


.error.message {
	background-color: $red3;
	color: $red1;
	padding: 0.5 * $vertical-unit $gutter;
	margin-bottom: $vertical-unit;
	border: 1px solid $red1;

	*:last-child {
		margin-bottom: 0;
	}
}


.two-images {
	display: flex;
	justify-content: space-between;

	figure {
		height: 300px;
		overflow: hidden;
		width: 48%;
	}

	img {
		width: 100%;
		max-width: 100%;
	}
}

.course-description-with-image-left {
	figure {
		float: left;
		max-width: 20rem;
		margin-right: $gutter;
	}
}

